.ClientEditCompMain{
    width: 100%;
}

.EditClientDetailsForm{
    width: 100%;
}

.inputsClientEditHolder{
    width: 100%;
}

.buttonHolderEditClientEditComp{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.buttonCancelEditClientEdit{
    height: 35px;
    width: 70px;
    background-color: transparent;
    border: 1px solid #008134;
    border-radius: 18px;
    color: #008134;
    margin-right: 10px;
}

.buttonUpdateEditClientEdit{
    height: 35px;
    width: 80px;
    border-radius: 18px;
    color: #ffffff;
    margin-right: 10px;
}