.sidebarContainerMain{
    width: 100%;
}

.companyNUserInfoHolderSideBarCont{
    width: 100%;
}

.functionsButtonHolderSideBarAdmin{
    width: 100%;
}

.FunctionLoopHolderSideBarAdmin{
    width: 100%;
    margin-bottom: 7px;
}