.PopUpHolderDiv{
    width: 100vw;
    height: 100vh;
    background-color: rgba(19, 17, 38, 0.76);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 390;
    justify-content: center;
    align-items: center;
    align-content: center;
    display: none;
}