*{
  box-sizing: border-box;
  outline: none;
}
html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  min-height: 100%;
  width: 100%;
  overflow-x: hidden;
}

h1,h2,h3,h4, h5, h6{
  margin: 2px;
  font-family: 'KoHo';
}

h1, h2{
  font-family: 'KoHo';
}
a{
  background-color: transparent;
  text-decoration: none;
  color: #000;
}
select{
  -webkit-appearance: none;
    -moz-appearance: none;
    padding-right: 25px;
    background: url(data:image/gif;base64,R0lGODlhCwALAJEAAAAAAP///xUVFf///yH5BAEAAAMALAAAAAALAAsAAAIPnI+py+0/hJzz0IruwjsVADs=);
    background-repeat: repeat;
    background-repeat: no-repeat;
    background-position: 95% 42%;
}

button{
  background-color: #8EC9F1;
  font-size: 17px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all .3s ease-out;
  font-family: 'KoHo';
  font-weight: 500;
}

.colorGreenText{
  color: #8EC9F1;
}

button:hover{
  transform: scale(1.03, 1);
  -webkit-transform: scale(1.03,1);
  -moz-transform: scale(1.03,1);
}

body {
  margin: 0;
  font-family: 'KoHo', -apple-system, Helvetica , 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 300;
}

div{
  display: block;
  position: relative;
  height: auto;
  font-family: 'KoHo';
}