.IntroSectionIndustries{
    width: 100%;
}

.listOfIndustriesPage{
    width: 100%;
    padding: 10px;
    background-color: #F4FAF7;
}

.footerIndustries{
    width: 100%;
    padding: 50px 0;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}